/* src/WordCounter.css */
.centered-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  textarea {
    width: 60%;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  h1 {
    margin: 0;
  }
  
  p {
    margin: 10px 0;
  }
  